<div class="row justify-content-center animate__animated animate__fadeIn">
  <div class="col-md-5 mt-4">
    <form [formGroup]="form" (ngSubmit)="save()">
      <mat-card class="pl-5 pr-5 text-center mobile-not-card">
        <app-logo></app-logo>

        <mat-form-field class="w-100 mb-3">
          <mat-label>Usuario o correo electrónico</mat-label>

          <input
            matInput
            required
            type="text"
            formControlName="userName"
            placeholder="incidence@polonium.com"
          >

          <mat-icon class="mdi-input-icon" matSuffix>
            <em class="mdi mdi-account"></em>
          </mat-icon>

          <mat-error *ngIf="form.get('userName').hasError('required')">
            El usuario o correo electrónico es requerido
          </mat-error>

          <mat-error *ngIf="form.get('userName').hasError('badUserName')">
            {{ userNameServerMessage }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100 mb-3">
          <mat-label>Contraseña</mat-label>

          <input
            matInput
            required
            formControlName="password"
            placeholder="Contraseña de Polonium Incidence"
            [type]="showPassword ? 'text' : 'password'"
          >

          <button
            mat-button
            matSuffix
            mat-icon-button
            class="mdi-input-icon"
            type="button"
            (click)="showPassword = !showPassword"
          >
            <em *ngIf="!showPassword" class="mdi mdi-eye"></em>
            <em *ngIf="showPassword" class="mdi mdi-eye-off"></em>
          </button>

          <mat-error
            *ngIf="form.get('password').hasError('required')"
          >
            La contraseña es requerida
          </mat-error>

          <mat-error *ngIf="form.get('password').hasError('badPassword')">
            {{ passwordServerMessage }}
          </mat-error>
        </mat-form-field>

        <div *ngIf="load" class="text-center mb-4">
          <mat-spinner diameter="50"></mat-spinner>
        </div>

        <div class="mb-3">
          <a routerLink="/auth/recover-password" [class.disabled-link]="load">
            No recuerdo mi contraseña
          </a>

          <br>

          <a routerLink="/auth/sign-in-code" [class.disabled-link]="load">
            Me gustaría usar una cuenta personal
          </a>
        </div>

        <button
          mat-raised-button
          class="mb-4"
          color="primary"
          type="button"
          [disabled]="load"
          (click)="router.navigate(['auth/sign-up'])"
        >
          Quiero registrarme <em class="mdi mdi-account-plus"></em>
        </button>

        <button
          mat-raised-button
          class="mb-4 ml-2"
          color="primary"
          [disabled]="load"
        >
          Iniciar sesión <em class="mdi mdi-login"></em>
        </button>
      </mat-card>
    </form>
  </div>
</div>
