@font-face {
  font-family: 'JosefinSans Regular';
  src: url(~src/assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
  font-family: 'MontserratAlternates Regular';
  src: url(~src/assets/fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
  font-family: 'SourceCodePro Regular';
  src: url(~src/assets/fonts/SourceCodePro-Regular.ttf);
}
